/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.Editor {
  margin: 10px;
  height: 270px;
}

.csdlButton {
  height: 70px;
  width: 70px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
