/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}
body {
  height: 1000px;
}
#root {
  height: 100%;
}
.container {
  height: 100%;
}
#agoraPane {
  height: 100%;
}
#apiDescription {
  height: 100%;
}
#csdlEditor {
  display: block;
  height: 50%;
  width: 800px;
}
#openApiDescription {
  height: 100%;
}
#openApiEditor {
  display: block;
  height: 270px;
  width: 800px;
}
#csdlWarnings {
  display: block;
  height: auto;
  width: 800px;
}
#csdlButton {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  width: 120px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.v1 {
    color: blue;
}
.beta {
    color: orangered;
}

.current {
    color: forestgreen;
}

.collapsibleList li > input + * {
    display: none;
}

.collapsibleList li > input:checked + * {
    display: block;
}

.collapsibleList li > input {
    display: none;
}

.collapsibleList label {
    cursor: pointer;
}