/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

#csdlEditor {
  display: block;
  height: 270px;
  width: 800px;
}
#openApiEditor {
  display: block;
  height: 270px;
  width: 800px;
}
#csdlWarnings {
  display: block;
  height: 270px;
  width: 800px;
}
#csdlButton {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  width: 120px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
